<style>
    .footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: var(--orange);
  text-decoration: underline;
}
</style>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Về chúng tôi</h3>
                <p>
                  T Travel là nền tảng đặt tour trực tuyến thuộc hệ sinh thái Vietravel - Tập đoàn Lữ hành hàng đầu Châu Á. Chúng tôi mang đến trải nghiệm du lịch thông minh, tiện lợi với hàng ngàn tour chất lượng trong nước và quốc tế.
                </p>
                <p>Liên hệ: 0859 605 024</p>
            </div>
            <div class="box">
                <h3>Chi nhánh trong nước</h3>
                <a>Hà Nội</a>
                <a>Hồ Chí Minh</a>
                <a>Đà Nẵng</a>
                <a>Nha Trang</a>
                <a>Phú Quốc</a>
            </div>
            <div class="box">
                <h3>Đường dẫn nhanh</h3>
                <a href="/#home">Trang chủ</a>
            <a href="/#packages">Tour</a>
            <a href="/#gallery">Bộ sưu tập</a>
            <a href="/#review">Đánh giá</a>
            </div>
            <div class="box">
                <h3>Theo dõi chúng tôi</h3>
                <a href="https://www.facebook.com/profile.php?id=61570367425918">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
            </div>
        </div>
    </section>
